# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
venv/
.env
.env.local
data/
gui/build/
gui/.build-work/
gui/.venv-build/
gui/.venv-build-windows/

# Git
.git
.gitignore

# Misc
*.log
.DS_Store
